<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %> ! Thanks for registrating to an event with us</h1>
    <p>
      You can find all the event infos by logging in on your account and cheking in : profile -> my events.
    </p>
    <p>
      To access your personnal user account, use this url : <%= @url %>.
    </p>
    <p> See you soon on eventbrite.com
  </body>
</html>