<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi there <%= @user.first_name %> welcome to Eventbrite !</h1>
    <p>
      You just registered using the following email adress : <%= @user.email %>.
    </p>
    <p>
      To access your personnal user account, use this url : <%= @url %>.
    </p>
    <p> See you soon on eventbrite.com
  </body>
</html>