<p><%= @user.first_name %>, here you can add a profile pic.</p>
<h3>Your current pp :</h3>
<%if @user.avatar.attached?%>
  <%= image_tag @user.avatar, alt: 'avatar' %>
<%else%>
  <p>=== You did not upload a pic yet ===</p>
<%end%>