<h1 class="text-center"> All participants to the event : <%= @event.title %> </h1>

<% @attendance.each do |attendance| %>
    <% if attendance.event_id == @event.id %>
        <li class="text-center"><%= attendance.user.first_name %></li>
    <% end %>
<% end %>

<% if @event.admin_id == current_user.id %>
<p class="text-decoration-none text-center mt-5"><%= link_to "Edit event",  edit_event_path(@event.id), class: "btn btn-danger" %></p>
<% end %>